<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joewuq.dmm" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DmmTheme" >

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="standard"
            android:documentLaunchMode="intoExisting"
            android:maxRecents="1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DetailActivity"
            android:launchMode="standard"
            android:documentLaunchMode="always"
            android:maxRecents="5"
            android:label="@string/app_name" >

        </activity>

    </application>

</manifest>
